name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/myapp:latest .

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/myapp:latest

      - name: Deploy to Kubernetes Cluster
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.CONTROL_PLANE_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            kubectl set image deployment/myapp myapp=${{ secrets.DOCKER_USERNAME }}/myapp:latest --record || \
            kubectl create deployment myapp --image=${{ secrets.DOCKER_USERNAME }}/myapp:latest --dry-run=client -o yaml | kubectl apply -f -

            kubectl expose deployment myapp --type=NodePort --port=80 --target-port=5000 --name=myapp-service --dry-run=client -o yaml | kubectl apply -f -
